body{
   background-color: honeydew;

}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    font-size: x-large;
    text-decoration: none;
}
#aff{
    font-size: large;
}
#maintitle{
    text-align: center;
    color: darkblue;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
h3.introsec{
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
} 
#autonomous{
    display: block;
    color:#DFAF2B;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50%;
    font-size: xx-large;
}
.content h1{
    text-align: center;
    color: purple;
}

.content h2{
    text-align: center;
    
}

.content{
    text-align: center;
    color: purple;
    font-size: larger;
}
 #angularpic{
     text-align: center;
 }
.content a{
    font-family: cursive ;
    font-weight: bolder;
    font-size: x-large;
    color: #E71C23;
    text-decoration: none;
}

#link{
    text-decoration: red;
}
#deptname{
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.flex-container .sidecard{
    font-size: x-large;
    color: purple;
    align-items: right;
    border: 10px purple;
    font-weight: bolder;
    line-height: 50%;
}


.flex-container .coordinators{
     font-size: x-large;
     color: purple;
     line-height: 70%;
}
marquee{
    font-size: xx-large;
}
marquee img{
    width: 32px;
    height: 32px;
}